.acoes {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.acoes select {
  display: flow-root;
  width: 400px;
  height: 25px;
  margin-top: 5px;
  border-radius: 3px;
}
.acoes a {
  margin: 5px 2px 0px 2px;
  display: inline-block;
  width: 196px;
  height: 56px;
  align-items: center;
  text-align: center;
  border-radius: 0px;
  background-color: aqua;
}

.acoes a:hover {
  background-color: aquamarine;
}
